<h1 class="text-secondary text-center mb-3">Editar Departamento</h1>
<div class="container d-flex justify-content-center flex-column w-25 align-items-center text-secondary ">
  <%= render 'form', departamento: @departamento %>
  <%= link_to 'Back', departamentos_path, class: "badge bg-light text-dark text-decoration-none mt-3" %>
</div>
