<div class="d-flex justify-content-center flex-column">
  <h2 class="text-secondary text-center">Editar Produto</h2>
  <div class="container w-100 d-flex justify-content-center flex-column align-items-center">
    <%= render 'produtos/form' %>
  </div>
</div>
