<div class="container w-50 mt-0">
  <h2 class="text-secondary text-center mt-0">Produtos</h2>
  <%= render 'produto', obj: @produtos %>
</div>
<div class="container w-50">
  <div class="alert alert-success " role="alert">
    <h2 class="text-dark text-center">Produtos com Desconto</h2>
  </div>
  <%= render 'produto', obj: @prod_desc%>
</div>
